<mat-card *ngIf="userData" class="mat-elevation-z0">
  <mat-card-title> User info </mat-card-title>
  <mat-card-content>
    <div class="container">
      <div>
        <mat-icon class="icon" aria-hidden="false">person</mat-icon>
      </div>
      <div class="rowContainer">
        <div class="row">
          <div class="col1">User id:</div>
          <div class="col2">{{ userData.address }}</div>
        </div>
        <div class="row">
          <div class="col1">Balance:</div>
          <div class="col2">{{ userData.balance }}</div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
