.mat-elevation-z0
  width: 100%
  font-size: 15px

  .container
    width: 100%
    display: flex
    align-items: center
    justify-content: flex-start

    .icon
      width: 3rem
      font-size: 3rem

    .rowContainer
      width: 100%

      .row
        width: 100%
        display: flex
        justify-content: space-between

        .col1
          flex: 1
          font-weight: bold
          font-weight: bold

        .col2
          flex: 4
